name: Daily Stock Update

on:
  schedule:
    # Times are in UTC. (15:00=10am ET, 18:00=1pm ET, 20:55=3:30pm ET)
    # The '1-5' means Monday to Friday.
    - cron: '0 15 * * 1-5'
    - cron: '0 18 * * 1-5'
    - cron: '30 20 * * 1-5'
  workflow_dispatch:
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install libraries
        run: |
          pip install -r requirements.txt

      - name: Run script to generate HTML
        run: python MV1.py

      - name: Commit and Push new data
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add index.html
          git diff --quiet && git diff --staged --quiet || (git commit -m "Daily Stock Update" && git push)
